$transition-duration: 0.3s;
$white-color: #fff;
$black-color: #000;
$dark-color: #191536;
$extra-dark-color: #110e25;
$text-color: #929292;
$dark-grey-color: #2f2f2f;
$light-grey-color: #545454;
$extra-grey-color: #212121;
$light-blue-color: #014954;
$background-black-color: #05040b;
$contrast-color: #05c2df;
$gradient: linear-gradient(107.56deg, $dark-color 0%, $black-color 100%);
